@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

//Variables
$main-gradient: linear-gradient(180deg, #f9c634 0%, #9d8127 100%);
$btn-serv-color: #5f5e5e;

//Variables ens

//Templates
%btn-style {
  background: linear-gradient(180deg, #f9c634 0%, #9d8127 100%);
  // background: linear-gradient(180deg,#cea83b 0%,#776220 100%);
  box-shadow: 0px 4px 4px rgba(162, 162, 160, 0.25);
  box-shadow: 0px 4px 4px rgb(162 162 160 / 25%);
  color: #fff;
  width: 100%;
  max-width: 155px;
  height: 35px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
  transition: 0.4s;
}

%info-items {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  padding-left: 15px;
  line-height: 15px;
  margin-right: 10px;
}

%header-icon {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 0;
  top: 10px;
}

%flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

%flex-col-jc-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Animations
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.showHeader {
  animation-name: showTop;
  animation-duration: 0.5s;
  position: sticky;
}

@keyframes showTop {
  from {
    top: -10%;
  }
  to {
    top: 0;
  }
}

//Main
body {
  font-family: "Montserrat", "Work Sans", sans-serif;
  color: #3c3c3c;
  font-size: 14px;
}

.full-screen-container,
header {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  span {
    color: #e0b330;
  }
}

.lp-display {
  display: block;
}

.mob-display {
  display: none;
}

.add-hover {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
}
.remove-hover {
  opacity: 1;
  transition: 0.4s;
}

form {
  .form-input._error {
    box-shadow: 0 0 5px #da2424;
  }
}
//Header
header {
  position: sticky;
  background: #222;
  color: #fff;
  top: 0;
  z-index: 20;
  .wrapper {
    @extend %flex-jc-sb;
    align-items: center;
    padding: 20px;
    .header-logo {
      margin-right: 8%;
    }
    .info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 660px/1200px * 100%;
      font-size: 12px;
      color: #d4d4d4;
      .location {
        @extend %info-items;
        &::before {
          @extend %header-icon;
          background: url(../img/icons/header/geo.svg) no-repeat;
        }
      }
      .schedule {
        @extend %info-items;
        &::before {
          @extend %header-icon;
          background: url(../img/icons/header/clock.svg) no-repeat;
        }
      }
      .contacts {
        @extend %info-items;
        &::before {
          @extend %header-icon;
          background: url(../img/icons/header/phone.svg) no-repeat;
        }
        a {
          color: #d4d4d4;
        }
        .add-icons {
          display: flex;
          justify-content: start;
          align-items: center;
          a,
          p {
            font-size: 12px;
          }
          img {
            width: 15px;
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
}

.burger-menu {
  display: none;
}

button {
  @extend %btn-style;
  &:hover {
    // background: rgb(255, 249, 232);
    border: 1px solid #f9c634;
    // color: #252525;
    box-shadow: 0 0 10px rgba(248, 237, 76, 0.5);
  }
}

button {
  font-weight: 600;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  letter-spacing: 0.5px;
}

button:hover {
  font-weight: 600;
  transform: scale(0.98);
  transition: 0.4s;
  box-shadow: 0 0 10px rgba(248, 237, 76, 0.5);
}

button:before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}

button:hover:before {
  left: 105%;
  transition: 0.5s ease-in-out;
}

.marquee {
  background: #222222;
  height: 22px;
  padding: 2px 0;
  line-height: 15px;
  border-top: 0.5px solid rgba(249, 198, 52, 0.5);
  p {
    color: #f9c634;
  }
}

//Main-screen
.main-screen-container {
  position: relative;
  .main-screen {
    height: 100%;
    min-height: 600px;
    position: relative;
    z-index: 0;
    &::before {
      position: absolute;
      background: linear-gradient(
        255.85deg,
        rgba(255, 255, 255, 0.07) 2.85%,
        rgba(133, 133, 133, 0.530156) 22.93%,
        #090909 79.8%
      );
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    &.slide1 {
      background: url(../img/main/main-screen.jpg);
      background-size: cover;
      background-position: center;
    }
    &.slide2 {
      background: url(../img/main/ms222.jpg);
      background-size: cover;
      background-position: center;
    }
    &.slide3 {
      background: url(../img/main/ms3.jpg);
      background-size: cover;
      background-position: center;
    }
  }
  .wrapper {
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %flex-jc-sb;
  }
  .main-content-block {
    padding: 1em;
    margin: 80px 1em 195px;
    color: #fff;
    h1,
    p:first-child {
      font-weight: 900;
      font-size: 36px;
      line-height: 40px;
      text-shadow: -0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px -0 0 #000,
        -1px 0 0 #000, 1px 0 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
        -1px -1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000;
      margin: 20px 0;
      position: relative;
    }
    .main-content-add {
      p {
        opacity: 0.6;
      }
    }
    h1::after {
      content: "";
      background: url(../img/icons/pngegg1.png) no-repeat;
      width: 60px;
      height: 80%;
      position: absolute;
      top: 2px;
      background-size: contain;
      background-position: 20px center;
      transition: 0;
      transform: rotate(180deg);
    }
    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 20px 0;
      .nav-col {
        div {
          margin-bottom: 10px;
          a {
            color: #7cd6f1;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.7;
            position: relative;
            &::after {
              content: "";
              top: 20px;
              left: 0;
              width: 0;
              height: 1px;
              position: absolute;
              display: block;
              z-index: 100;
              background: #7cd6f1;
              transition: 0.3s;
            }
          }
          a:hover::after {
            width: 100%;
            transition: 0.3s;
          }
        }
        @extend %flex-col-jc-sb;
      }
    }
    .main-content-add:hover h1::after {
      background: url(../img/icons/pngegg2.png) no-repeat;
      background-size: contain;
      background-position: 20px center;
    }
    .main-content-add:hover p,
    .main-content-add:hover nav .nav-col a {
      transition: 0.4s;
      opacity: 1;
    }

    .main-content-add:hover .add-text-styles span {
      color: #e1b431;
    }

    .main-content-add {
      max-width: 425px;
      @extend %flex-col-jc-sb;
    }
    p {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }
    .main-content-btns {
      @extend %flex-jc-sb;
      button {
        width: 100%;
        max-width: 195px;
        height: 40px;
        text-transform: uppercase;
      }
      .services-btn {
        background: #fff;
        border: 1px solid $btn-serv-color;
        color: $btn-serv-color;
        a {
          color: #252525;
          display: block;
          height: 100%;
          padding: 10px;
        }
      }
      .diagnosis-btn a {
        color: #fff;
        display: block;
        height: 100%;
        padding: 10px;
      }
    }
    .add-text-styles {
      font-size: 36px;
      font-weight: 500;
      span {
        color: #e1b431;
      }
    }
  }
}

//Services
.services-block {
  background: linear-gradient(
    0deg,
    rgb(190 158 61 / 15%) 0%,
    rgb(255 255 255) 100%
  );
  .wrapper {
    padding: 50px 0 60px;
    h2 {
      margin-bottom: 45px;
    }
  }
  .services-grid-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
    grid-auto-rows: minmax(175px, auto);
    align-items: end;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  .services-block-item {
    position: relative;
    width: 100%;
    max-width: 200px;
    @extend %flex-col-jc-sb;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0;
    }
    .add-hover-content {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: -100%;
      background: #f1f1f1;
      z-index: -1;
      padding: 10px;
      opacity: 0;
      // transition: 0.2s;
      border-radius: 4px;
      border-bottom: 1px solid #edbd3287;
      border-right: 1px solid #edbd3287;
      border-left: 1px solid #edbd3287;
      li,
      p {
        margin: 10px auto 0;
        font-weight: 500;
        font-size: 13px;
        position: relative;
      }
      hr {
        height: 0.5px;
        opacity: 0.4;
        width: 100%;
        margin: 15px auto;
        background: #d3a92f;
      }
      button {
        margin: 10px;
        text-transform: capitalize;
        position: absolute;
        bottom: 0;
      }
    }
  }
  .services-block-item:hover .add-hover-content {
    display: block;
    top: 177px;
    min-height: 300px;
    height: 100%;
    transition: 0.4s;
    opacity: 0.97;
    z-index: 10;
  }
  .services-block-item:hover img {
    transition: 0.4s;
    box-shadow: 0px 0px 10px rgb(92 85 28);
  }
  h3 {
    margin-bottom: 15px;
    color: #3c3c3c;
    font-weight: bold;
    text-align: center;
    min-height: 28px;
  }
}

//Stocks
.full-screen-container.stocks-block {
  background: linear-gradient(180.08deg, #444 0.07%, #000 99.93%);
  .wrapper {
    max-width: 780px;
    padding: 25px 0 60px;
    h2 {
      color: #fff;
      margin-bottom: 25px;
    }
    .stocks-grid-block {
      display: grid;
      grid-template-columns: repeat(2, 285px);
      grid-gap: 2.5em;
      grid-auto-rows: minmax(100px, auto);
      margin: 0 auto;
      justify-content: space-between;
      padding: 0 1em;
      .stocks-block-item {
        position: relative;
        padding: 3px;
        transition: 0.4s;
        &:first-child {
          background: url(../img/stocks/stock1.jpg);
        }
        &:nth-child(2) {
          background: url(../img/stocks/stock2.jpg);
        }
        &:nth-child(3) {
          background: url(../img/stocks/stock3.jpg);
        }
        &:nth-child(4) {
          background: url(../img/stocks/stock4.jpg);
        }
        .item-inner {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(72, 72, 72, 0.8);
          position: relative;
          z-index: 5;
          &.add-text-size p:first-child {
            font-size: 22px;
          }
          p {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            color: #fff;
            margin: 22px 0 10px 22px;
            text-shadow: 0 -1px 0 #5a5959, 0 -1px 0 #5a5959, 0 1px 0 #5a5959,
              -1px 0 0 #5a5959, -1px 0 0 #5a5959, 1px 0 0 #5a5959,
              -1px 1px 0 #5a5959, 1px 1px 0 #5a5959, -1px -1px 0 #5a5959,
              1px -1px 0 #5a5959, 1px 1px 0 #5a5959;
            span {
              color: rgba(148, 223, 234, 1);
            }
            &.stocks-descr {
              margin: 15px 0 10px 22px;
              font-size: 8px;
              line-height: 10px;
              text-shadow: none;
              font-weight: 300;
              max-width: 40%;
            }
          }
          button {
            position: absolute;
            bottom: 1em;
            right: 1em;
            max-width: 120px;
            max-height: 22px;
            font-size: 12px;
            font-weight: 400;
            text-transform: inherit;
          }
        }
        &:hover {
          transform: scale(1.35);
          transition: 0.4s;
        }
        &:hover::after {
          background: rgb(0 0 0 / 0.6);
        }
        &:hover p {
          text-shadow: none;
        }
        &:hover button {
          transform: scale(1);
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgb(0 0 0 / 0);
          display: block;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.container.diagnosis-block {
  min-height: 500px;
  background: url(../img/bg/diagnos-bg.jpg) no-repeat;
  background-position: 15em -170px;
  .wrapper {
    max-width: 960px;
    padding: 100px 0 60px;
  }
  .diagnosis-flex-block {
    padding: 0 1em;
    @extend %flex-jc-sb;
    .content-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 425px;
      h2 {
        font-weight: 600;
        max-width: 400px;
        text-align: left;
        margin-bottom: 12px;
      }
      p {
        font-weight: 500;
        font-size: 19px;
        line-height: 20px;
      }
      form {
        label {
          font-weight: 500;
        }
        margin-top: 25px;
        @extend %flex-col-jc-sb;
        .add-flex-row {
          margin-bottom: 25px;
          @extend %flex-jc-sb;
        }
        select,
        input {
          display: block;
          min-width: 200px;
          height: 35px;
          padding: 5px 1rem;
          border: 1px solid rgb(157, 129, 39);
          border-radius: 2px;
          appearance: none;
          font-size: 12px;
          color: rgb(66 66 66 / 76%);
          margin-top: 10px;
          transition: 0.3s;
        }
        input:hover,
        select:hover {
          box-shadow: 0px 0px 20px rgba(185, 168, 7, 0.5);
          transition: 0.3s;
        }
        option {
          color: #000;
        }
      }
      button {
        width: 100%;
        max-width: 425px;
        height: 45px;
        font-size: 14px;
      }
      &.second-col {
        margin-left: 1em;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

// Partners
.partners-block {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background: linear-gradient(180.08deg, #1d1d1d 0.07%, #ffdc71 99.93%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: block;
    top: -100%;
    left: 0;
    transition: 0.4s;
  }
  background: linear-gradient(180.08deg, #1d1d1d 0.07%, #757575 99.93%);
  &:hover .add-hover {
    opacity: 1;
    transition: 0.4s;
  }
  &:hover .remove-hover {
    opacity: 0;
    transition: 0.4s;
  }
  &:hover::after {
    top: 0;
    transition: 0.4s;
  }
  .wrapper {
    position: relative;
    z-index: 10;
    max-width: 900px;
    padding: 2em 1em;
    h2 {
      color: #fff;
    }
    .partners-content {
      @extend %flex-jc-sb;
      margin: 50px 0 20px;
    }
    .content-img {
      position: relative;
      max-width: 150px;
      max-height: 45px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        left: 0;
      }
    }
  }
}

// Reviews

.reviews-block {
  background: linear-gradient(
    0deg,
    rgb(190 158 61 / 15%) 0%,
    rgb(255 255 255) 100%
  );
  .wrapper {
    max-width: 1600px;
    padding: 60px 0;
    .reviews-video {
      position: relative;
      &::after {
        content: "";
        background: rgb(0 0 0 / 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        display: block;
        top: 0;
        left: 0;
        transition: 0.4s;
      }
      width: 100%;
      & video {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
      }
      h2 {
        font-family: "Kurale", Courier, monospace;
        margin-bottom: 60px;
        color: #fff;
        opacity: 0.6;
        text-align: left;
        position: relative;
        &::before {
          content: "";
          background: url(../img/svg/quotes2.svg) no-repeat;
          width: 40%;
          height: 50%;
          position: absolute;
          left: -40px;
          bottom: 60px;
        }
      }
      .reviews-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        z-index: 10;
        max-width: 720px;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 60px auto;
      }
    }
  }
}

// Sliders
.swiper-container-second {
  width: 100%;
  min-height: 350px;
}

.reviews-slider-item {
  position: relative;
  max-width: 250px;
  background: none;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 18px;
  padding: 3px;
  .item-inner {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    padding: 15px 5px;
    position: relative;
    .person-info {
      display: flex;
      padding: 0 10px;
      min-height: 60px;
      .foto-person {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title-person-block {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        .name {
          font-size: 14px;
          font-weight: 600;
          min-height: 30px;
        }
        .date {
          font-size: 10px;
          color: #b9b9b9;
        }
        .raiting {
          display: flex;
          width: 100%;
          margin-top: 5px;
          img {
            max-width: 15px;
            object-fit: contain;
          }
        }
      }
    }
    .item-text {
      margin: 15px 5px;
      font-size: 12px;
      line-height: 16px;
      height: 145px;
      overflow: hidden;
    }
    .car-text {
      display: flex;
      width: 70%;
      justify-content: space-around;
      font-size: 10px;
      min-height: 20px;
      .brand {
        font-weight: 600;
      }
    }
  }
  &::before {
    content: "";
    background: rgb(0 0 0 / 30%);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 100%;
  height: 20px;
  background-image: none;
}

.swiper-button-prev {
  background: url(../img/svg/slidesArr.svg) no-repeat;
  opacity: 0.7;
  left: 25%;
  transition: 0.4s;
  &:hover {
    opacity: 1;
    transform: scale(1.4);
    transition: 0.4s;
  }
}

.swiper-button-next {
  background: url(../img/svg/slidesArr2.svg) no-repeat;
  opacity: 0.7;
  right: 25%;
  transition: 0.4s;
  &:hover {
    opacity: 1;
    transform: scale(1.4);
    transition: 0.4s;
  }
}

.swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  background: #b1902a;
}

// Static form
.full-screen-container.static-form {
  background: linear-gradient(180.08deg, #b3b3b3 0.07%, #e8e8e8 99.93%);
  margin-bottom: 60px;
  .form-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1em;
    margin: 0 auto;
    color: #3c3c3c;
    .title-block {
      align-items: baseline;
      max-width: 300px;
      h2 {
        font-size: 22px;
        font-weight: 600;
        text-align: left;
        line-height: 22px;
        margin-bottom: 10px;
      }
      @extend %flex-col-jc-sb;
      p {
        line-height: 18px;
        font-weight: 400;
      }
    }
    input.form-input {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      width: 230px;
      height: 35px;
      padding-left: 20px;
      border: 1px solid #d7ad2f;
      &:hover {
        box-shadow: 0px 0px 20px rgba(185, 168, 7, 0.5);
        transition: 0.3s;
      }
      &._error {
        box-shadow: 0 0 10px #a50505;
        border: none;
      }
    }
  }
}

// Footer
footer {
  background: linear-gradient(180deg, #444 0%, #000 100%);
  .wrapper {
    padding: 3em 1em 0;
    .contacts {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      position: relative;
      h2 {
        margin-bottom: 40px;
        color: #fff;
      }
      .data {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        max-width: 400px;
        margin: 20px 1em;
        .data-content {
          display: flex;
          flex-direction: column;
        }
        .data__item-inner > .title {
          font-size: 12px;
          line-height: 14px;
          color: #adadad;
          margin-bottom: 5px;
        }
        .data__item {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          min-width: 240px;
          height: 60px;
          color: #f5f7fa;
          img {
            margin-right: 15px;
          }
          p.add-icons {
            img {
              width: 20px;
              margin: 0 0 0 10px;
            }
          }
        }
        a,
        p {
          font-size: 14px;
          line-height: 1.4;
          color: #fff;
          transition: 0.3s;
        }
        a:hover {
          color: rgb(175, 175, 175);
          transition: 0.3s;
        }
        a > p:hover {
          color: rgb(175, 175, 175);
          transition: 0.3s;
        }
      }
      .map {
        position: relative;
        top: 20px;
        min-width: 280px;
        max-width: 700px;
        width: 100%;
        height: 50vw;
        max-height: 361px;
        min-height: 145px;
        iframe {
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
    }
    hr {
      background: rgb(255 255 255 / 37%);
      height: 1px;
      margin: 30px auto 0;
    }
    .callback-block-bg {
      position: relative;
      margin: 20px auto;
      &::before {
        // content: "";
        position: absolute;
        // background: url(../img/bg_footer.gif);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .callback-block {
        display: flex;
        flex-direction: column;
        max-width: 620px;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto 40px;
        p {
          font-size: 18px;
          color: #fff;
          margin-bottom: 30px;
        }
        button {
          min-width: 260px;
        }
      }
    }
    .laws {
      font-size: 12px;
      text-align: center;
      color: rgb(255 255 255 / 50%);
      padding: 20px 0;
    }
  }
}

//CARS-LIST
.cars-list-block {
  // background: url(../img/bg/bg_footer.gif);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background: #000;
  .cars-list-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-height: 70px;
    width: 70%;
    img {
      max-width: 100%;
      max-height: 100%;
      padding: 1em;
      object-fit: contain;
      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
        border-bottom: 1px solid #dee3e957;
        transition: 0.8s;
      }
    }
  }
  &.brands-block-sticky {
    position: sticky;
    width: 100%;
    height: 40px;
    background: #000;
    border-top: 1px solid #383838;
    left: 0;
    bottom: 0;
    z-index: 20;
    img {
      padding: 5px;
      &.car-audi {
        min-height: 130%;
      }
    }
  }
}

// MODALS
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__dialog {
  max-width: 500px;
  position: absolute;
  margin: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg/modal-bg.jpg) no-repeat;
    opacity: 0.15;
    background-position: right;
    z-index: 1;
    pointer-events: none;
  }
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
  border: 2px solid #e9ba32;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.modal__title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.modal__input {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 14px;
  text-align: left;
  padding: 0 20px;
  outline: 0;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 4px 15px rgb(190 154 44);
    transition: 0.3s;
  }
}
.modal .btn {
  max-width: 300px;
  height: 40px;
  margin: 20px auto 0;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

// BTN TOTOP
.totop {
  position: fixed;
  bottom: 15%;
  right: 5%;
  cursor: pointer;
  opacity: 0.4;
  z-index: 19;
}

.totop:hover {
  opacity: 1;
  transition: 0.4s;
  transform: scale(1.2);
}

.totop img {
  width: 50px;
}

.up-bl {
  display: block;
}
.up-gr {
  display: none;
}

// Burger Menu
.burger-menu {
  display: none;
  max-width: 40px;
  height: 30px;
  width: 40px;
  .burger-menu__nav .burger-menu_active {
    transform: translateX(100%);
  }
  .burger-menu__nav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border-radius: 3px;
    opacity: 0.98;
    z-index: 50;
    flex-flow: column;
    background-color: #222222;
    overflow-y: auto;
    height: 100vh;
    top: 42px;
    left: 100%;
    transition: 0.4s;
    padding: 2em 1em 5em;
    text-align: center;
    margin-top: 25px;
    hr {
      height: 0.5px;
      opacity: 0.4;
      width: 50vw;
      background: #d3a92f;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .burger-menu__link {
      padding: 0;
      font-size: 16px;
      text-decoration: none;
      color: #fff;
    }
  }

  .burger-menu__button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    .burger-menu__lines,
    .burger-menu__lines::before,
    .burger-menu__lines::after {
      background-color: #eabb32;
      width: 17px;
      height: 2px;
      content: "";
      display: block;
      transition: 0.3s;
      position: absolute;
    }

    .burger-menu__lines {
      position: relative;
      top: 50%;
      right: 0;
    }

    .burger-menu__lines::before {
      width: 25px;
      transform: translateY(-10px);
    }

    .burger-menu__lines::after {
      width: 25px;
      transform: translateY(10px);
    }
  }
  &.burger-menu_active {
    span {
      max-height: 0;
    }
    .burger-menu__button {
      .burger-menu__lines::before {
        // transform: translate(-10px, -10px);

        transform: rotate(45deg);
      }
      .burger-menu__lines::after {
        // transform: translate(-10px, 10px);
        transform: rotate(-45deg);
      }
    }
  }
  .burger-menu__overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .burger-menu_active .burger-menu__overlay {
    display: block;
  }
}

/*------------------active--------------------*/
.burger-menu_active .burger-menu__link {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  text-transform: inherit;
  padding: 0;
  border-bottom: 1px solid #252525;
  color: rgba(255, 255, 255, 0.8);
}

.burger-menu_active a.burger-menu__link:hover {
  width: auto;
  color: #efbf33;
  border-bottom: 1px solid #efbf33;
  transition: border-width 0.6s linear;
}

.burger-menu__nav-phones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4em;
  .add-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #dab74e;
    margin: 10px 0;
    font-size: 16px;
    min-width: 190px;
  }
  a,
  p {
    color: #dab74e;
    font-size: 14px;
  }
  img {
    width: 20px;
    margin: 0 0 0 10px;
  }
}

.burger-menu__butt {
  width: 280px;
  height: 40px;
  border: 1px solid #efbf33;
  color: #dcb030;
  border-radius: 5px;
  padding: 5px;
  background: inherit;
  margin-right: 0;
}
.burger-menu__butt:hover {
  box-shadow: 0 0 10px rgba(248, 237, 76, 0.5);
  transition: 0.4s;
}

// ------------------------------------------
// Media (Max: 992 - 768 - 640 - 480 - 320)
// ------------------------------------------
@media (max-width: 992px) {
  .totop {
    bottom: 15%;
    opacity: 0.8;
  }
  header {
    .wrapper {
      .header-logo {
        margin-right: 6%;
      }
      .info {
        width: 65%;
      }
    }
  }
  .main-screen-container {
    .swiper-container {
      max-height: 580px;
    }
    .main-content-block {
      margin: 75px 1em 0;
    }
  }
  .services-block {
    .services-grid-block {
      margin: 0 1em;
      grid-template-columns: repeat(3, 1fr);
      align-items: self-start;
    }
  }
  .container.diagnosis-block {
    .wrapper {
      padding: 40px 0 60px;
    }
  }
  .container.diagnosis-block .diagnosis-flex-block {
    flex-wrap: wrap-reverse;
    justify-content: center;
    .content-col h2 {
      text-align: center;
      font-size: 26px;
    }
  }
  .reviews-block {
    .wrapper {
      .reviews-video {
        video {
          min-height: 600px;
        }
      }
      .reviews-slider-item {
        margin: 0 auto;
      }
    }
  }
  .full-screen-container.static-form .form-content {
    flex-direction: column;
    min-height: 260px;
    text-align: center;
    .title-block {
      h2 {
        margin: 0 auto 10px;
        text-align: center;
        line-height: 20px;
      }
    }
    .form-first__button {
      max-width: 230px;
      // margin-top: 10px;
    }
  }
}
@media (max-width: 891px) {
  .lp-display {
    display: none;
  }
  .mob-display {
    display: block;
  }
  .container.diagnosis-block {
    min-height: 390px;
    .wrapper {
      .diagnosis-flex-block {
        .content-col {
          p {
            margin-top: 40px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    .wrapper {
      .header-logo {
        margin-right: 2%;
      }
      .info {
        font-size: 11px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  button {
    max-width: 180px;
    max-height: 40px;
    text-transform: initial;
    font-size: 14px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 28px;
  }
  header {
    position: relative;
    .wrapper {
      padding: 5px;
      .header-logo {
        margin-right: 0;
      }
      .info {
        display: none;
      }
      button {
        max-height: 40px;
        margin-right: 8%;
        &.burger-menu__butt {
          margin-right: 0;
        }
      }
    }
    .burger-menu {
      display: flex;
      &.burger-menu_active {
        .burger-menu__link {
          font-size: 14px;
        }
        .burger-menu_active.burger-menu__nav {
          transition: 1s;
          transform: translateX(-100%);
          .add-flex-row {
            width: 100%;
            max-width: 300px;
            display: flex;
            justify-content: space-between;
            color: rgba(255, 255, 255, 0.7);
            text-align: left;
            h3 {
              font-size: 14px;
              margin-bottom: 5px;
              color: #fff;
            }
            p {
              margin-bottom: 5px;
              font-size: 12px;
            }
          }
        }
      }
      .burger-menu__nav-phones {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .marquee p {
    font-size: 12px;
  }
  .main-screen-container {
    .swiper-container {
      max-height: 540px;
    }
    .main-content-block {
      margin: 35px 1em 0;
      nav {
        width: 70%;
      }
      p {
        font-size: 16px;
      }
      p:first-child {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
      }
      .main-content-add {
        max-width: 535px;
        h1 {
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 25px;
        }
        .main-content-btns {
          button {
            max-width: 240px;
          }
        }
      }
    }
  }
  .services-block .wrapper h2 {
    margin-bottom: 42px;
  }
  .full-screen-container.stocks-block .wrapper {
    .stocks-grid-block {
      grid-template-columns: repeat(1, 285px);
      justify-content: center;
      padding: 0 5em;
      grid-gap: 2.5em;
    }
  }
  .container.diagnosis-block {
    .wrapper {
      padding: 40px 0;
      .diagnosis-flex-block {
        .content-col {
          .diagnoses-img {
            max-width: 70%;
            margin: 0 auto;
          }
          button {
            min-height: none;
            max-height: 40px;
          }
          p {
            margin-top: 40px;
            text-align: center;
          }
        }
      }
    }
  }
  .partners-block {
    .wrapper {
      .partners-content {
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .content-img {
        margin: 1em;
        max-width: 100px;
        max-height: 35px;
      }
    }
  }
  .reviews-block {
    .wrapper {
      .reviews-video {
        h2 {
          opacity: 0.8;
          text-align: center;
          line-height: 30px;
          margin: 0 2em 20px;
        }
        video {
          min-height: 540px;
        }
      }
    }
  }
  .full-screen-container.static-form {
    position: relative;
    background: #000;
    .form-content {
      position: relative;
      h2,
      p {
        color: #fff;
      }
    }
    &::before {
      content: "";
      background: url(../img/icons/chqeng.jpg) no-repeat center;
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      opacity: 0.2;
    }
  }
  footer {
    .wrapper {
      .contacts {
        flex-direction: column;
        align-items: center;
        .data {
          align-items: center;
          .data-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5em;
          }
        }
      }
      .callback-block-bg {
        .callback-block {
          p {
            margin: 30px 0;
            font-size: 18px;
          }
        }
      }
    }
  }
  .cars-list-block {
    height: 100%;
    .cars-list-content {
      width: 80%;
      max-height: 100%;
      flex-wrap: wrap;
      img {
        max-width: 70px;
        &.car-mers {
          max-width: 30%;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 26px;
  }
  .main-screen-container {
    .swiper-container {
      max-height: 600px;
    }
    .main-content-block {
      // margin: 75px 1em 0;
      .main-content-add {
        nav {
          width: 70%;
        }
        .main-content-btns {
          flex-direction: column;
          button {
            max-width: 320px;
            font-size: 16px;
            margin-bottom: 25px;
            text-transform: initial;
          }
        }
      }
    }
  }
  .services-block {
    .services-grid-block {
      grid-template-columns: repeat(2, 1fr);
    }
    .services-block-item {
      max-width: 250px;
      .add-hover-content {
        li,
        p {
          text-align: left;
        }
        button {
          left: 0;
          right: 0;
          margin: 10px auto;
        }
      }
    }
    .services-block-item:hover .add-hover-content {
      min-height: 260px;
      top: 183px;
    }
    .services-block-item:hover img {
      transition: 0.4s;
      box-shadow: 0px 0px 10px rgb(92 85 28);
    }
    h3 {
      font-size: 16px;
      min-height: 32px;
    }
  }
  .full-screen-container.stocks-block .wrapper {
    .stocks-grid-block {
      .stocks-block-item {
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
  .container.diagnosis-block {
    .wrapper {
      padding: 40px 0;
      .diagnosis-flex-block {
        .content-col {
          .add-flex-row {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
            label {
              width: 100%;
              select,
              input {
                margin: 15px 0;
                width: 100%;
              }
            }
          }
          h2 {
            font-size: 22px;
          }
        }
      }
    }
  }
  .partners-block {
    .wrapper {
      padding: 1em;
      .partners-content {
        margin: 20px 0 0;
      }
    }
  }
  footer {
    .wrapper {
      .contacts {
        .data {
          .data-content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
  .modal__content {
    padding: 30px;
    border: 1px solid #e9ba32;
  }
  .modal__title {
    font-size: 18px;
    text-transform: initial;
  }
  .modal__input {
    margin: 12px auto;
    width: 240px;
    height: 35px;
    font-size: 14px;
    padding: 0 15px;
    border: 1px solid #c5a752cf;
    border-radius: 2px;
  }
  .modal .btn {
    max-width: 240px;
    height: 35px;
    margin: 12px auto 0;
  }
}

@media (max-width: 600px) {
  .reviews-slider-item {
    max-width: 80%;
    .item-inner {
      padding: 25px 15px;
      .item-text {
        font-size: 14px;
        line-height: 20px;
      }
      .person-info {
        font-size: 16px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 560px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
  }
  .main-screen-container {
    text-align: center;
    .swiper-container {
      max-height: 530px;
    }
    .main-content-block {
      margin: 10px 1em 0;
      p {
        line-height: 30px;
      }
      .main-content-add {
        h1 {
          margin: 0;
        }
        nav {
          width: 100%;
        }
        max-width: 325px;
        margin: 0 auto;
        p {
          line-height: 20px;
        }
        .main-content-btns {
          flex-direction: column;
          align-items: center;
          button {
            max-width: 320px;
            font-size: 14px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .reviews-block {
    .wrapper {
      .reviews-video {
        h2 {
          margin: 0 1em 20px;
        }
        video {
          min-height: 600px;
        }
      }
    }
  }
  .swiper-container-second {
    min-height: 380px;
  }
  .reviews-block {
    .wrapper {
      padding: 20px 0;
    }
  }
  .full-screen-container.static-form {
    margin-bottom: 20px;
  }
  .cars-list-block {
    .cars-list-content {
      img {
        &.car-mers {
          max-width: 40%;
        }
      }
    }
  }
}
// @media (max-width: 520px) {
// }

@media (max-width: 480px) {
  .main-screen-container {
    .swiper-container {
      max-height: 530px;
    }
    .main-content-block {
      .main-content-add {
        h1 {
          margin: 30px 0;
        }
        nav {
          display: none;
        }
      }
    }
  }
  .services-block {
    .services-grid-block {
      margin: 0 1em;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .full-screen-container.stocks-block {
    .wrapper {
      .stocks-grid-block {
        .stocks-block-item {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .container.diagnosis-block {
    .wrapper {
      padding: 40px 0;
      .diagnosis-flex-block {
        .content-col {
          p {
            margin-top: 40px;
            line-height: 22px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .reviews-block {
    .wrapper {
      .reviews-video {
        video {
          min-height: 620px;
        }
      }
    }
  }
  .swiper-container-second {
    min-height: 405px;
  }
  .cars-list-block {
    .cars-list-content {
      img {
        &.car-mers {
          max-width: 60%;
        }
      }
    }
  }
}

@media (max-height: 460px) and (orientation: landscape) {
  .modal__content {
    padding: 25px 40px;
  }
  .modal__title {
    font-size: 16px;
  }
  .modal__input {
    margin: 5px auto;
    height: 35px;
  }
  .modal .btn {
    max-width: 300px;
    height: 35px;
    margin: 5px auto 0;
  }
}
